html {
    color: #111;
    background: #fff;
}

body {
    font-size: 12px;
    line-height: 1.62;
}

body,
button,
input,
select,
textarea,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "MicrosoftYaHei", "WenQuanYi Micro Hei", sans-serif;
    ;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a,
a:hover {
    text-decoration: none;
}

.container {
    width: 1080px !important;
}

/* 顶部用户功能栏 */

.container {
    padding-right: 0;
    padding-left: 0;
}

.top-nav {
    width: 100%;
    height: 28px;
    color: #d5d5d5;
    background-color: #545652;
}

.user-menu {
    float: right;
}

.user-menu li {
    float: left;
    padding: 0 5px;
    margin-right: 5px;
    line-height: 28px;
    cursor: pointer;
}

.user-menu li:nth-child(3),
.user-menu li:nth-child(4) {
    display: none;
}

/* 搜索导航栏 */

.search-nav {
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
    background-color: #f0f3f5;
}

.search-bar {
    position: relative;
    padding: 10px 0 5px;
    border-bottom: 1px solid #e5ebe4;
    overflow: hidden;
}

.search-bar .logo {
    float: left;
    width: 145px;
    margin: 0 50px 0 -5px;
    margin-top: 8px;
    padding-top: 2px;
}

.search-bar .logo a {
    display: inline-block;
    width: 100%;
    height: 30px;
    background: url("https://img3.doubanio.com/dae/accounts/resources/19507ad/movie/assets/lg_movie@2x.png") no-repeat;
    background-size: contain;
    font-size: 30px;
    color: #27a;
}

.search {
    margin-left: 145px;
    position: relative;
    padding: 10px 0 15px 0;
}

.search input {
    border: none;
    outline: none;
}

.search .search-input-wrap {
    float: left;
    width: 470px;
    height: 34px;
    text-align: center;
    margin-right: -3px;
    background-image: url("../img/nav_mv_bg.png");
    cursor: text;
}

#searchInput {
    background: #fff;
    width: 96%;
    margin: 0;
    text-align: left;
    height: 30px;
    padding-left: 10px;
}

.search .search-btn-wrap {
    position: relative;
    left: -1px;
    width: 37px;
    height: 34px;
    zoom: 1;
    overflow: hidden;
}

#searchBtn {
    width: 100%;
    height: 100%;
    font-size: 0;
    padding: 35px 0 0 0;
    overflow: hidden;
    color: transparent;
    background: url("../img/nav_mv_bg.png") no-repeat 0 -40px;
}

/* 导航栏 */

.tab-nav {
    font-size: 14px;
}

.tab-nav ul {
    margin: 9px 0;
}

.tab-nav li {
    display: inline;
    margin-right: 25px;
}

.tab-nav li a:hover,
.actived {
    color: rgb(0, 179, 255);
}

/* 内容区 */

.con-left {
    float: left;
    width: 730px;
    padding-right: 40px;
}

.con-right {
    float: right;
    width: 310px;
}

/* 正在上映 */

.screening {
    margin-bottom: 36px;
}

.screening-head .paging {
    float: right;
    margin: 5px 0 0 15px;
}

.paging span a {
    display: block;
    float: left;
    width: 18px;
    height: 18px;
    margin-right: 5px;
    cursor: pointer;
    background: url("../img/slide_swithc_2.png") no-repeat;
}

.paging .btn-prev {
    background-position: 0 0;
}

.paging .btn-next {
    background-position: -18px 0;
}

.show-page {
    float: right;
    line-height: 28px;
    color: #666;
}

.screening-head h2 {
    color: #072;
    padding-bottom: 10px;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 18px;
    font-size: 16px;
}

.screening-body {
    overflow: hidden;
    position: relative;
    height: 270px;
}

.ui-slide-content {
    position: absolute;
    left: 0;
    white-space: nowrap;
}

.ui-slide-item {
    font-size: 12px;
    text-align: center;
    margin-right: 25px;
    width: 115px;
    height: 270px;
    overflow: hidden;
}

.screening .ui-slide-item {
    display: inline-block;
    vertical-align: top;
    letter-spacing: normal;
    word-spacing: normal;
}

.poster {
    height: 161px;
    overflow: hidden;
    margin-bottom: 12px;
}

.ui-slide-item img {
    width: 128px;
}

.title {
    letter-spacing: -0.31em;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 22px;
    overflow: hidden;
}

.title a {
    display: inline-block;
    vertical-align: top;
    letter-spacing: normal;
    word-spacing: normal;
    height: 24px;
    line-height: 24px;
    color: #333;
}

.rating {
    display: inline-block;
    zoom: 1;
    margin: 4px auto 2px;
    height: 19px;
}

.rating span {
    float: left;
}

.subject-rate {
    color: #e09015;
    font-size: 12px;
    margin-left: 2px;
}

.ticket_btn span {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 90px;
    height: 24px;
    line-height: 24px;
    background-color: #268dcd;
    color: #fff;
    border-radius: 2px;
}

.ticket_btn a:link,
.ticket_btn a:visited,
.ticket_btn a:hover,
.ticket_btn a:active {
    background: none;
    color: #fff;
}

/* 豆瓣top250 */

.top250 .top250-lists {
    letter-spacing: -0.31em;
    margin-left: -26px;
}

.top250-head h2 {
    color: #072;
    padding-bottom: 10px;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 18px;
    font-size: 16px;
}

.top250 .list-item {
    display: inline-block;
    vertical-align: top;
    letter-spacing: normal;
    word-spacing: normal;
    text-align: center;
    width: 115px;
    margin: 0 0 32px 25px;
    overflow: hidden;
}

.top250 .ticket_btn span {
    line-height: 22px;
    border: 1px solid #d9d9d9;
    background: #F3F3F3;
    background: -moz-linear-gradient(top, #F3F3F3, #ECECEC);
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#F3F3F3), to(#ECECEC));
    background: -o-linear-gradient(top, #F3F3F3, #ECECEC);
}

.top250 .ticket_btn a:link,
.top250 .ticket_btn a:visited,
.top250 .ticket_btn a:active {
    background: none;
    color: #494949;
}

.top250 .ticket_btn span:hover {
    background: #EBEBEB;
}

/* 加载动画 */

.loading {
    display: none;
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin-bottom: 32px;
    background: url("../img/loading.gif") no-repeat center;
    background-size: contain;
}

/* 显示更多 */

.top250 .more {
    margin-bottom: 32px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    background-color: #f5f5f5;
    color: #336699;
}

/* 内容右侧 */

.con-right>div {
    display: none;
    width: 300px;
    margin: 0 0 20px;
    padding: 16px 0 16px 18px;
    line-height: 1.5;
    background: #f2f7f6;
    border-radius: 4px;
}

.con-right>div>h3 {
    margin-top: 10px;
    color: #072;
    font-size: 16px;
}

.con-right>div .btn {
    padding-left: 40px;
    padding-right: 40px;
}

.con-right>div button[type=submit] {
    margin-right: 38px;
}

.con-right .login {
    display: block;
}

.con-right p {
    margin: 0;
    font-size: 12px;
}

.con-right .error {
    color: red;
}

.con-right .true {
    color: green;
}

.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}

.form-control {
    width: 93%;
    margin-bottom: 10px;
}

.form-control:focus {
    border-color: #ccc;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.form-horizontal .checkbox {
    padding-top: 0;
    margin-bottom: 10px;
}

/* 验证码 */

.captcha-wrap {
    display: inline-block;
    width: 40%;
}

.captcha {
    border: 1px solid #000;
    vertical-align: top;
    margin-top: 1px;
    margin-left: 64px;
}

/* 注册框 */

#subReg {
    margin-right: 0px;
    width: 93%;
}

.notice {
    width: 93%;
    height: 30px;
    line-height: 30px;
    margin-top: -10px;
    margin-bottom: 15px;
    padding: 0 12px;
    color: red;
    background-color: #fcf8e3;
    border: 1px solid #faebcc;
    border-radius: 4px;
}

/* 用户信息 */

.con-right .user-info {
    padding-right: 18px;
}

.user-info .photo-wrap {
    width: 100px;
    height: 100px;
    line-height: 100px;
    margin: 0 auto;
    border: 3px solid grey;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
}

.user-info .show-name {
    margin: 8px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.user-info ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    padding-top: 15px;
    border-top: 1px solid lightgray;
    font-size: 14px;
    font-weight: 500;
    overflow: hidden;
}

.user-info li {
    text-align: center;
}

.user-info li span {
    display: block;
    font-weight: 300;
}

.user-info #userLogout {
    display: block;
    width: 93%;
    margin: 20px auto 0;
}


/* 页脚 */

.footer {
    color: #999;
    height: 50px;
    line-height: 37px;
    padding: 6px 0;
    margin-top: 40px;
    overflow: hidden;
    border-top: 1px dashed #ddd;
    text-align: center;
}

.footer-left {
    float: left;
    margin-left: 24%;
}

.footer-right {
    float: right;
}

.footer i {
    box-sizing: border-box;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: #f5f5f5;
    line-height: 38px;
    color: #444;
    text-align: center;
    border: 1px solid #e7e7e7;
    text-shadow: 0 1px 0 #fff;
    margin-left: 10px;
}