/* 正在上映 */

.screening {
    margin-bottom: 36px;
}

.screening-head .paging {
    float: right;
    margin: 5px 0 0 15px;
}

.paging span a {
    display: block;
    float: left;
    width: 18px;
    height: 18px;
    margin-right: 5px;
    cursor: pointer;
    background: url("../img/slide_swithc_2.png") no-repeat;
}

.paging .btn-prev {
    background-position: 0 0;
}

.paging .btn-next {
    background-position: -18px 0;
}

.show-page {
    float: right;
    line-height: 28px;
    color: #666;
}

.screening-head h2 {
    color: #072;
    padding-bottom: 10px;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 18px;
    font-size: 16px;
}

.screening-body {
    overflow: hidden;
    position: relative;
    height: 270px;
}

.ui-slide-content {
    position: absolute;
    left: 0;
    white-space: nowrap;
}

.ui-slide-item {
    font-size: 12px;
    text-align: center;
    margin-right: 25px;
    width: 115px;
    height: 270px;
    overflow: hidden;
}

.screening .ui-slide-item {
    display: inline-block;
    vertical-align: top;
    letter-spacing: normal;
    word-spacing: normal;
}

.poster {
    height: 161px;
    overflow: hidden;
    margin-bottom: 12px;
}

.ui-slide-item img {
    width: 128px;
}

.title {
    letter-spacing: -0.31em;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 22px;
    overflow: hidden;
}

.title a {
    display: inline-block;
    vertical-align: top;
    letter-spacing: normal;
    word-spacing: normal;
    height: 24px;
    line-height: 24px;
    color: #333;
}

.rating {
    display: inline-block;
    zoom: 1;
    margin: 4px auto 2px;
    height: 19px;
}

.rating span {
    float: left;
}

.subject-rate {
    color: #e09015;
    font-size: 12px;
    margin-left: 2px;
}

.ticket_btn span {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 90px;
    height: 24px;
    line-height: 24px;
    background-color: #268dcd;
    color: #fff;
    border-radius: 2px;
}

.ticket_btn a:link,
.ticket_btn a:visited,
.ticket_btn a:hover,
.ticket_btn a:active {
    background: none;
    color: #fff;
}

/* 豆瓣top250 */

.top250 .top250-lists {
    letter-spacing: -0.31em;
    margin-left: -26px;
}

.top250-head h2 {
    color: #072;
    padding-bottom: 10px;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 18px;
    font-size: 16px;
}

.top250 .list-item {
    display: inline-block;
    vertical-align: top;
    letter-spacing: normal;
    word-spacing: normal;
    text-align: center;
    width: 115px;
    margin: 0 0 32px 25px;
    overflow: hidden;
}

.top250 .ticket_btn span {
    line-height: 22px;
    border: 1px solid #d9d9d9;
    background: #F3F3F3;
    background: -moz-linear-gradient(top, #F3F3F3, #ECECEC);
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#F3F3F3), to(#ECECEC));
    background: -o-linear-gradient(top, #F3F3F3, #ECECEC);
}

.top250 .ticket_btn a:link,
.top250 .ticket_btn a:visited,
.top250 .ticket_btn a:active {
    background: none;
    color: #494949;
}

.top250 .ticket_btn span:hover {
    background: #EBEBEB;
}

/* 加载动画 */

.loading {
    display: none;
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin-bottom: 32px;
    background: url("../img/loading.gif") no-repeat center;
    background-size: contain;
}

/* 显示更多 */

.top250 .more {
    margin-bottom: 32px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    background-color: #f5f5f5;
    color: #336699;
}